<p id="notice"><%= notice %></p>

<h1>Parks</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Number</th>
      <th>Time start</th>
      <th>Time end</th>
      <th>Duration</th>
      <th>Total amount</th>
      <th>Payment</th>
      <th>Business</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parks.each do |park| %>
      <tr>
        <td><%= park.number %></td>
        <td>
					<%= park.time_start.strftime("%B %d %Y %H %M %S") %>
				</td>
        <td>
					<%= park.time_end.strftime("%B %d %Y %H %M %S") %>
				</td>
        <td><%= number_with_precision((park.time_end - park.time_start) / 3600, precision: 2) %> hr</td>
        <td>Rs <%= number_with_precision(((park.time_end - park.time_start) / 3600) * @amount_per_hour, precision: 2) %></td>
        <td><%= park.paid ? 'Yes' : 'No' %></td>
        <td><%= park.business.name %></td>
        <td><%= link_to 'Show', park %></td>
        <td><%= link_to 'Edit', edit_park_path(park) %></td>
        <td><%= link_to 'Destroy', park, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Park', new_park_path %>
