<p id="notice"><%= notice %></p>

<p>
  <strong>Car Number:</strong>
  <%= @park.number %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @park.time_start.strftime("%B %d %Y") %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @park.time_end.strftime("%B %d %Y") %>
</p>

<p>
  <strong>Total amount:</strong>
  Rs <%= @amount.round %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @park.comments %>
</p>

<p>
  <strong>Business:</strong>
  <%= @park.business.name %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
